* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #101010;
    color: #fff;
    overflow-x: hidden;
}


/* NAV DESKTOP */

.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 56px;
    background: #000;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.nav__items {
    display: flex;
    position: relative;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 20px;
    max-width: 1680px;
    width: 100%;
}

.logo {
    height: 35px;
    width: 187px;
    /* position: relative; */
    object-fit: contain;
    order: 1;
}

.nav__items-mblicon {
    display: none;
}

.nav__items-menu {
    /* position: relative; */
    display: flex;
    align-items: center;
    order: 2;
    outline: none;
}

.nav__items-search-container {
    order: 3;
    width: 100%;
}

.nav__items-searchbar {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.nav__items-searchicon {
    position: relative;
    left: 35px;
    color: #999;
}

.nav__items-input {
    padding-left: 40px;
    height: 36px;
    background-color: #333;
    border-radius: 2px;
    border: 0;
    outline: none;
    width: 35%;
    min-width: 150px;
    font-size: 16px;
    color: #252525;
}

.nav__items-input:focus {
    background-color: #fff;
}

.nav__items-input:active {
    color: #252525;
}

.nav__items-user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 0;
    order: 4;
    font-size: 13px;
    padding-right: 20px;
}

.nav__items-help {
    width: 160px;
    color: #999;
    text-decoration: none;
}

.nav__items-login, .nav__items-free {
    font-weight: 600;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

.nav__items-register {
    text-decoration: none;
    padding: 5px;
    color: #252525;
    font-weight: 600;
    background-color: #ffe300;
    border-radius: 2px;
    border: 2px solid transparent;
}

.nav__items-register:hover {
    background-color: #f0d500;
    cursor: pointer;
}

.nav__items-login:hover, .nav__items-help:hover , .nav__items-free:hover {
    cursor: pointer;
    color: #ffe300;
}

.navmenu__subscriptions {
    width: 130px;
}

.navmenu__cinema {
    width: 105px;
    padding-left: 15px;
}

.navmenu__subscriptions-text, .navmenu__cinema-text {
    position: relative;
    align-items: center;
    color: #fff;
    display: inline-block;
    font-weight: 600;
}

.navmenu__subscriptions::after, .navmenu__cinema::after {
    content: '▼';
    position: relative;
    font-size: 10px;
    margin-left: 4px;
    bottom: 1px;
}

.navmenu__subscriptions-text:hover, .navmenu__cinema-text:hover {
    text-decoration: none;
    color: #ffe300;
}

.navmenu__subscriptions:hover::after, .navmenu__cinema:hover::after {
    content: '▲';
    color: #ffe300;
}

ul {
    list-style: none;
}

.navmenu__subscriptions-child, .navmenu__cinema-child {
    display: none;
    position: absolute;
    margin-left: -10px;
    padding: 0 15px;
    background-color: #000;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 10px -4px rgb(0,0,0/80%);
}

.navmenu__subscriptions-child-item, .navmenu__cinema-child-item {
    white-space: nowrap;
}

.navmenu__subscriptions-child-item:first-child, .navmenu__subscriptions-child-item-anchor, .navmenu__cinema-child-item:first-child, .navmenu__cinema-child-item-anchor {
    padding-top: 15px;
}

.navmenu__subscriptions-child-item-anchor, .navmenu__cinema-child-item-anchor {
    font-size: 13px;
    display: block;
    padding: 10px 0;
    color: #fff;
    font-family: 'Noto sans', Arial, sans-serif;
    transition: color .1s ease;
}

.navmenu__subscriptions-child-item-anchor:hover, .navmenu__cinema-child-item-anchor:hover {
    color: #ffe300;
    text-decoration: none;
}

/* MOBILE NAV */

.mblnav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 56px;
    background: #000;
    border-top: 1.2px solid rgba(255,255,255,0.2);
}

.mblnav__items {
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 25px;
    width: 100%;
}

.mblnav__items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #999;
    transition: color .1s ease;
}

.mblnav__items-container:hover {
    color: #ffe300;
    cursor: pointer;
}

.mblnav__icon-text {
    font-size: 10px;
    font-family: 'Noto sans', Arial, sans-serif;
    font-weight: 600;
}

/* SEARCH BOX */

.search__box {
    position: fixed;
    top: -55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 -5px 10px 5px rgb(0, 0, 0 / 50%);
    height: 50px;
    color: #999;
    transition: .3s;
}

.search__box-search {
    order: 1;
}

.search__box-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 16px;
    order: 2;
    color: #252525;
    margin-left: 5px;
}

.search__box-close {
    order: 3;
}

/* RESPONSIVE MEDIA */

@media screen and (max-width: 1024px) {
    .nav {
        background: none;
        border-bottom: none;
    }

    .nav__items-menu, .nav__items-user {
        display: none;
    }

    .nav__items {
        justify-content: space-between;
        width: 100%;
    }

    .nav__items-search-container {
        display: none;
    }

    .logo {
        width: auto;
    }

    .nav__items-mblicon {
        align-items: center;
        display: block;
        order: 2;
    }
}

@media screen and (min-width: 1024px) {
    .mblnav {
        display: none;
    }
}

@media screen and (min-width: 560px) {
    .mblnav__items {
        padding: 0 40px;
    }
}